@using Marriott.Client.Web.Controllers
@using Marriott.Client.Web.Extensions
@model Marriott.Client.Web.Models.CheckOut.VerifyInvoice

@{
    ViewBag.ProgressBar = CheckOutController.ProgressBarText;
    ViewBag.ProgressBarActiveNode = 1;
}

<div>
    <fieldset>
        
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>INVOICE</strong>
            </div>
            <div class="panel-body">
                <div class="row">

                    <!-- Guest Information -->
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Guest Information</div>
                            <div class="panel-body" style="min-height: 110px;">
                                @Model.GuestInformation.FullName<br/>
                                @Model.GuestInformation.Address1<br/>
                                @Model.GuestInformation.Address2<br/>
                                @Model.GuestInformation.City @Model.GuestInformation.State @Model.GuestInformation.PostalCode
                            </div>
                        </div>
                    </div>

                    <!-- Payment Information -->
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Payment Information</div>
                            <div class="panel-body" style="min-height: 110px;">
                                @Html.LabelWithColonFor(x => x.PaymentInformation.CreditCardNumber) @Html.DisplayTextFor(x => x.PaymentInformation.CreditCardNumber)<br/>
                                @Html.LabelWithColonFor(x => x.PaymentInformation.CreditCardExpiry) @Html.DisplayTextFor(x => x.PaymentInformation.CreditCardExpiry)
                            </div>
                        </div>
                    </div>

                    <!-- Room Information -->
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Room Information</div>
                            <div class="panel-body" style="min-height: 110px;">
                                @Html.LabelWithColonFor(x => x.RoomNumber) @Model.RoomNumber<br/>
                                @Html.LabelWithColonFor(x => x.RoomType) @Model.RoomType<br/>
                                @Html.LabelWithColonFor(x => x.RoomRate) $@Model.RoomRate
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Your Stay</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">@Html.LabelWithColonFor(x => x.CheckIn) @Model.CheckIn.ToShortDateString()</div>
                            <div class="col-md-3">Time: TIME</div>
                            <div class="col-md-3">@Html.LabelWithColonFor(x => x.CheckOut) @Model.CheckOut.ToShortDateString()</div>
                            <div class="col-md-3">Time: TIME</div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Charges</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>&nbsp;</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>@DateTime.Now.AddDays(-2).Date.ToShortDateString()</td>
                                <td>Room Charge</td>
                                <td>&nbsp;</td>
                                <td>$120.00</td>
                            </tr>
                            <tr>
                                <td>@DateTime.Now.AddDays(-2).Date.ToShortDateString()</td>
                                <td>State Occupancy Tax</td>
                                <td>&nbsp;</td>
                                <td>$17.90</td>
                            </tr>
                            <tr>
                                <td>@DateTime.Now.AddDays(-2).Date.ToShortDateString()</td>
                                <td>Movie</td>
                                <td>&nbsp;</td>
                                <td>$14.99</td>
                            </tr>
                            <tr>
                                <td>@DateTime.Now.AddDays(-1).Date.ToShortDateString()</td>
                                <td>Room Charge</td>
                                <td>&nbsp;</td>
                                <td>$120.00</td>
                            </tr>
                            <tr>
                                <td>@DateTime.Now.AddDays(-1).Date.ToShortDateString()</td>
                                <td>State Occupancy Tax</td>
                                <td>&nbsp;</td>
                                <td>$17.90</td>
                            </tr>
                            <tr>
                                <td>@DateTime.Now.AddDays(-1).Date.ToShortDateString()</td>
                                <td>Movie</td>
                                <td>&nbsp;</td>
                                <td>$14.99</td>
                            </tr>
                            <!--sub total and totals-->
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><strong>Subtotal</strong></td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><strong>Tax</strong></td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><strong>Total Due</strong></td>
                                <td>0.00</td>
                            </tr>
                            <!--sub total and totals-->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    @using (Html.BeginForm("VerifyInvoice"))
                    {
                        @Html.HiddenFor(x => x.ReservationId)
                        @Html.HiddenFor(x => x.RoomNumber)
                        @Html.HiddenFor(x => x.Total)

                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Confirm Invoice and Check Out"/>
                        </div>
                    }
                </div>

            </div>
        </div>

    </fieldset>
</div>